body {
    text-align: center;
    background-image: url("maxresdefault.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% ;
    color:white;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    color: white;
    font-family: 'Delius Unicase', cursive;


}
p {
  font-family: 'Delius Unicase', cursive;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    background-color: white;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;

}

input[type=number] {
    width: 6em;
}

#submitButton  {
     border-radius: 30%;
     background-color: lightgreen;
     padding:10px;
     border: none;
     outline: none;
     font-family: 'Delius Unicase', cursive;

}

#submitButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    border:none;
}

#mydiv{
  position:absolute;

}

.left{
  padding-top: 40px;
  float:left;
  text-align: center;
  width: 30%;

}

.right{
  padding-top: 40px;
  float:right;
  text-align: center;
  width:70%;
}
